---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import Title from "./Title.astro";
import { Icon } from "astro-icon/components";

const images = import.meta.glob<{ default: ImageMetadata }
>(  "/src/assets/**/*.{jpeg,jpg,png,gif}");
const { altText, imgPath, PersonText, PersonCopy, TitleText, variant } = Astro.props; if (!images[imgPath])  
throw new Error(    `"${imgPath}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif}"`  );
---

<section>
    <article>
        <div>
    <Image src={images[imgPath]()} alt={altText} />
    <Title {TitleText} {variant}></Title>
</div>
    <h3>{PersonText}</h3>
    <p>{PersonCopy}</p>
    <div class="iconscontainer">
        <Icon name="instagram"></Icon>
        <Icon name="facebook"></Icon>
        <Icon name="twitter"></Icon>
    </div>
        </article>
</section>

<style>
section {
    display: flex;
    gap: 2rem;
    > * {
        flex: 1 0 16rem;
        inline-size: 16rem;
    }

    & > article > div:first-child {
    display: grid;
    place-items: end;

    > * {
      grid-area: 1 / 1;
    }

    h1 {
        margin-inline-end: 2cqi;
        margin-block-end: 3cqi;
    }

    }

    .iconscontainer {
        display: flex;
        gap: 1.8rem;
        justify-content: center;
    }
}
h3 {
color: #181818;
text-align: center;
font-family: var(--headings-font);
font-size: 1.875rem;
font-style: normal;
font-weight: 700;
line-height: 2.175rem
}

p {
max-width: 20.5rem;
color: #595566;

text-align: center;
font-family: var(--copy-font);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.475rem
}

[data-icon] {
    max-width: 1.44731rem;
    height: 1.15706rem;
}

img {
    border-radius: 1.8rem;
}

article {
    display: grid;
    gap: 0.6rem;
}

</style>